<div class="activity" data-id="<%= activity.id %>">
	<div class="row">
		<div class="span4" >
			<a class="btn" data-target="#<%= activity.id %>-modal" data-toggle="modal"><%= activity.get('name') %></a>
		</div>
	</div>
	<div id="<%= activity.id %>-modal" class="modal hide">
		<div class="modal-header">
			<h2><%= activity.get('name') %></h2>
		</div>
		<div class="modal-body">
			<p class="description text-center"><%= activity.get('description') %></p>
			<h5 class="flavor text-right"><em><%= activity.get('flavor') %></em></h5>
		</div>
	</div>
</div>