<div class="span2">
	<label for="set<%= setNum %>base<%= base_id %>">Set: </label>
	<input type="text" readonly value="<%= setNum %>" name="set[set_number]" id="set<%= setNum %>base<%= base_id %>"></input>
</div>

<div class="span2">
	<label for="duration_set<%= setNum %>base<%= base_id %>">Duration: </label>
	<input type="text" placeholder="0" name="set[duration]" id="duration_set<%= setNum %>base<%= base_id %>"></input>
</div>