<div class="span2">
	<label for="set<%= setNum %>base<%= activityBase.id %>">Set: </label>
	<input type="text" readonly value="<%= setNum %>" 
	name="workout[activities][<%= activityBase.id %>][activity_sets][<%= setNum - 1 %>][set_number]" id="set<%= setNum %>base<%= activityBase.id %>"></input>

	<input type="hidden" value="<%= activityBase.get('set_type') %>"
		name="workout[activities][<%= activityBase.id %>][activity_sets][<%= setNum - 1 %>][type]"></input>
</div>

<div class="span2">
	<label for="repetitions_set<%= setNum %>base<%= activityBase.id %>">Repetitions: </label>
	<input type="text" placeholder="0" 
	name="workout[activities][<%= activityBase.id %>][activity_sets][<%= setNum - 1 %>][repetitions]" id="repetitions_set<%= setNum %>base<%= activityBase.id %>"></input>
</div>

<div class="span2">
	<label for="intensity_set<%= setNum %>base<%= activityBase.id %>">Intensity: </label>
	<input type="text" placeholder="0" 
	name="workout[activities][<%= activityBase.id %>][activity_sets][<%= setNum - 1 %>][intensity]" id="intensity_set<%= setNum %>base<%= activityBase.id %>"></input>
</div>