<script>
  $(document).ready(function(){
    new WayOfTheGymja.Routers.Workouts({
      topLevelElement: $('#backbone-content')
    });
    WayOfTheGymja.initialize();
  });
</script>

<%- model_class = User -%>
<div class="row">
  <div class="span4">
    <div class="page-header">
      <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
    </div>
  </div>

  <div class="span4 offset4">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
      <dd><%= @user.email %></dd>
    </dl>
  </div>
</div>

<div class="user-attributes row">
  <div class="span2 offset4 user-age">
    <%= @user.birthday %>
  </div>

  <div class="span2 user-height">
    <%= @user.height / 12 %>'<%= @user.height % 12 %>"
  </div>

  <div class="span2 user-gender">
    <%= @user.gender %>
  </div>
</div>

<div class="row">
  <div class="span3">
    <ul class="nav nav-list" id="content-selector">
      <li class="active" id="activities-selector"><a href="#/activities">Activities</a></li>
      <li id="feed-selector"><a href="#/feed">Feed</a></li>
    </ul>
    <!-- <ul class="text-center" id="content-selector">
      <li class="workouts selector">
        <a class="btn" href="#/activities">Activities</a>
      </li>
      <li class="workouts selector">
        <a class="btn notalink" href="#/feed">Feed</a>
      </li> -->
    </ul>
  </div>

  <div class="span8 offset1" id="backbone-content">
  </div>
</div>

