<script>
  $(document).ready(function(){
    new WayOfTheGymja.Routers.Workouts({
      topLevelElement: $('#backbone-content')
    });
    WayOfTheGymja.initialize();
  });
</script>

<%- model_class = User -%>
<div class="row">
  <div class="span2">
    <div class="page-header">
      <h1><%= @user.username %></h1>
    </div>
  </div>

  <div class="span2 offset1">
    <dl class="dl-horizontal">
      <dt><strong>Point Total:</strong></dt>
      <dd><%= @user.points_total %></dd>
      <dt><strong>Clan:</strong></dt>
      <dd><%= @user.clan %></dd>
    </dl>
  </div>
</div>

<div class="user-attributes row">
  <div class="span2 offset4 user-age">
    Birthday: <%= @user.birthday %>
  </div>

  <div class="span2 user-height">
    Height: <%= @user.height / 12 %>'<%= @user.height % 12 %>"
  </div>

  <div class="span2 user-gender">
    <%= @user.gender.capitalize %>
  </div>
</div>

<div class="row profile-content">
  <div class="span3">
    <ul class="nav nav-list" id="content-selector">
      <li class="active" id="activities-selector"><a href="#/activities">Activities</a></li>
      <li id="feed-selector"><a href="#/feed">Feed</a></li>
    </ul>
  </div>

  <div class="span9" id="backbone-content">
  </div>
</div>