<!DOCTYPE html>
<html>
<head>
  <title>WayOfTheGymja</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
    <% if current_user %>
    	WayOfTheGymja.current_user = <%= current_user.id %>
    <% end %>
  </script>
</head>



<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="<%= root_url %>">Way of the Gymja</a>
    <ul class="nav">
      <!-- <li class="active"><a href="#"></a></li> -->
      <% if current_user %>
        <li><a href="<%= user_url(current_user) %>">Profile</a></li>
        <li><a href="<%= track_url %>">Track</a></li>
      <% end %>
    </ul>
  </div>
</div>

<!-- 
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p> -->

<div class="row">
  <div class="logo">
  </div>
</div>

<div class="content">
  <%= yield %>
</div>

<div class="footer">
  <div class="row">
    <div class="span4 text-left">Copyright Jefferson Leard 2013</div>
    <div class="span4 text-center">Way of the Gymja</div>
    <div class="span4 text-right">Go Internet Go</div>
  </div>
</div>

</body>
</html>