<!DOCTYPE html>
<html>
<head>
  <title>WayOfTheGymja</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
    <% if current_user %>
    	WayOfTheGymja.current_user = <%= current_user.id %>
    <% end %>
  </script>
</head>



<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="<%= root_url %>">Way of the Gymja</a>
    <ul class="nav">
      <!-- <li class="active"><a href="#"></a></li> -->
      <% if current_user %>
        <li><a id="profile-nav" href="<%= user_url(current_user) %>"><i class="icon-user"></i></a></li>
        <li><a id="track-nav" href="<%= track_url %>"><i class="icon-pencil"></i></a></li>
        <li><a id="logout-nav" data-method="delete" href="<%= destroy_user_session_url %>"><i class="icon-off"></i></a></li>
        <script>
            $('#profile-nav').tooltip({ animation:true, placement:"bottom", delay:100, title:"Profile" })
            $('#track-nav').tooltip({ animation:true, placement:"bottom", delay:100, title:"Track" })
            $('#logout-nav').tooltip({ animation:true, placement:"bottom", delay:100, title:"Logout" })
        </script>
      <% end %>
    </ul>
  </div>
</div>

<!-- 
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p> -->

<div class="row logo-row">
  <img class="logo" src="https://s3-us-west-1.amazonaws.com/gymja/TheNinjaReview.gif"></img>
</div>

<a href="https://github.com/BitPuncher"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

<div class="content">
  <%= yield %>
</div>

<div class="footer">
  <div class="row-fluid">
    <div class="span4 text-left">Copyright Jefferson Leard 2013</div>
    <div class="span4 text-center">Way of the Gymja</div>
    <div class="span4 text-right">Go Internet Go</div>
  </div>
</div>

</body>
</html>